@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800&display=swap');
/* font-family: 'Epilogue', sans-serif; */

:root{
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
    --first-family: 'Epilogue', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: var(--Almost-White);
}
.container{
    width: 100%;
    height: 100%;
}
nav{
    padding: 2rem 3rem;
    
    display: flex;
    flex-direction: row;
    position: relative;
    column-gap: 2rem;
    align-items: center;
}
.nav-logo{
    grid-column: span 1;
}
.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    column-gap: 2rem;
    /* grid-column: span 11;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 3rem;
    margin-left: 2vw; */
}
#nav-links-log{
    align-items: right;
    justify-self: right;
    width: 25%;
    margin-left: auto;
}
.nav-links-features, .nav-links-company{
    position: relative;
}
.features-sub{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    margin-top: 20px;
    position: absolute;
    top: 25%;
    right: 0;
    width: 140%;
    padding: 20px 15px;  
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    overflow: hidden;
    z-index: 10;
    border-radius: 10px;
    background-color: #fff;
    display: none;
    transition: display 9s ease;
    color: var(--Almost-Black);
    font-family: var(--first-family);
    font-weight: 400;
}
.company-sub{
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    margin-top: 20px;
    position: absolute;
    top: 25%;
    left: 0;
    width: 110%;
    padding: 20px 15px;  
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    overflow: hidden;
    z-index: 10;
    border-radius: 10px;
    background-color: #fff;
    display: none;
    transition: display 9s ease;
    color: var(--Almost-Black);
    font-family: var(--first-family);
    font-weight: 400;
}
#nav-links-log{
    grid-column: 12 / span 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    column-gap: 1.5rem;
    /* column-gap: 2rem; */
    /* grid-template-columns: 1fr 1fr ; */
    /* justify-content: end;
    text-align: end; */
}
a{
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
    color: var(--Medium-Gray);
    font-size: 18px;
}
a:hover{
    color: black;
}
.nav-links-features{
    position: relative;
}
.nav-links-features>span, .nav-links-company>span{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    position: relative;
}

.features-sub>span{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.features-sub>span>img{
    margin-right: 10%;
    width: 15px;
}
.features-sub>span>p{
    font-family: var(--first-family);
}
.register{
    border: 2px solid var(--Medium-Gray);
    padding: 8px 12px;   
    border-radius: 8px;
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}
.main{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    padding: 2vw 8vw;
}
.main>img{
    width: 100%;
    grid-column: span 1;
    grid-row: span 2;
}
.main-img1{
    display: none;
}
.main-img2{
    display: block;
}
.main-text{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    justify-content: center;
    row-gap: 2rem;
}
.main-text>h2{
    width: 85%;
    font-size: 5vw;
    font-family: var(--first-family);
}
.main-text>p{
    width: 75%;
    font-size: 1.2vw;
    font-family: var(--first-family);
    color: var(--Medium-Gray);
}
.main-text>a{
    background-color: black;
    color: #fff;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1vw;
    width: fit-content;
}
.main-text>a:hover{
    background-color: #fff;
    color: #000000;
    border: 1px solid black;
}
.main .clients{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    overflow: hidden;
    /* padding: 0 1vw; */
    width: 85%;
    align-items: center;
    margin-top: 20px;
}
.clients img{
    width: 95%;
}
.menu, .menu-close{
    display: none;
}
@media screen and (max-width: 400px) {
    .container{
        overflow: hidden;
        height: 110vh;
    }
    /* nav{
        display: flex;
        flex-direction: row;
        position: relative;
        column-gap: 2rem;
        align-items: center;
    } */
    nav{
        padding: 8vw 5vw;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 0;
        /* overflow: hidden; */
        position: relative;
        
        align-items: initial;
        /* overflow: hidden; */
    }
    .nav-logo{
        grid-column: span 6;
        /* overflow: hidden; */
        margin-right: 6vw;
    }
    /* .nav-links{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        column-gap: 2rem;
    } */
    .nav-links{
        position: absolute;
        top: 0%;
        right: -80%;
        width: 60%;
        height: 100vh;
        background-color: var(--Almost-White);
        display: flex;
        flex-direction: column;
        padding: 80px 0px 60px  0px;
        row-gap: 2rem;
        column-gap: 0;
        overflow: hidden;
        transition: right 0.5s ease;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    a{
        text-decoration: none;
        font-family: 'Epilogue', sans-serif;
        color: var(--Medium-Gray);
        font-size: 18px;
    }
    .nav-links-features{
        position: relative;
    }
    .nav-links-features>span, .nav-links-company>span{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 0.5rem;
    }
    .features-sub{
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
        background-color: #fff;
        margin-left: 4vw;
        margin-top: 4vw;
        position: initial;
        padding: 0;
        box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
        /* display: none; */
        overflow: hidden;
        width: 0;
        height: 0;
        border-radius: 0px;
        transition: height 0.5s ease;
    }
    .features-sub>span{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .features-sub>span>img{
        margin-right: 10%;
        width: 15px;
    }
    .features-sub>span>p{
        font-family: var(--first-family);
    }
    .nav-links-company{
        position: relative;
        transition: .5s ease;
    }
    .company-sub{
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
        background-color: #fff;
        margin-left: 4vw;
        margin-top: 4vw;
        position: initial;
        padding: 0;
        box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
        /* display: none; */
        overflow: hidden;
        width: 0;
        height: 0;
        border-radius: 0px;
        transition: height 0.5s ease;
    }
    .company-sub>p{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .company-sub>p{
        font-family: var(--first-family);
    }
    .menu-close{
        display: grid;
        width: 20px;
        position: absolute;
        top: 3%;
        right: 10%;
        font-weight: 800;
        cursor: pointer;
    }
    #nav-links-log{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        margin-bottom: 18%;
        align-items: center;
        justify-content: center;
        /* background-color: blanchedalmond; */
        width: 100%;
        margin-left: 0px;
    }
    .login{
        position: relative;
        overflow: hidden;
        padding: 1vw 0vw;
    }
    .login::after{
        content: "";
        position: absolute;
        width: 0%;
        height: 15%;
        bottom: -8%;
        left: 0%;
        background-color: black;
        transition: .5s ease;
    }
    .login:hover.login::after{
        /* left: 100%; */
        width: 100%;
        left: 0%;
    }
    .register{
        border: 2px solid var(--Medium-Gray);
        padding: 4vw 15vw;
        border-radius: 15px;
        position: relative;
        z-index: 5;
        overflow: hidden;
    }
    .register::after{
        transition: .9s ease-in-out;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: -100%;
        left: 0%;
        background-color: rgb(194, 251, 255);
        z-index: -1;
    }
    .register:hover.register::after{
        top: 100%;
        /* left: 50%; */
    }
    .menu{
        display: block;
        grid-column: 12 / span 1;
        grid-row: 1 / span 1;
        align-content: end;
        justify-content: end;
        cursor: pointer;
        /* align-self: self-end; */
        justify-self: end;
    }

    /* Main Component */
    .main{
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        margin: 6vw 0vw;
        padding: 0;
    }
    .main-img1{
        display: block;
    }
    .main-img2{
        display: none;
    }
    .main .main-text{
        display: flex;
        flex-direction: column;
        row-gap: 1.7rem;
        width: 95%;
        margin: 0 auto;
        align-items: center;
        text-align: center;
        font-family: var(--first-family);
    }
    .main-text>h2{
        width: 100%;
        font-size: 8vw;
        line-height: 1.5;
    }
    .main-text>p{
        font-family: var(--first-family);
        width: 100%;
        line-height: 1.5;
        color: var(--Medium-Gray);
        font-size: 4vw;
    }
    .main-text>a{
        background-color: black;
        color: #fff;
        font-weight: 600;
        padding: 12px 20px;
        border-radius: 10px;
        font-size: 5vw;
    }
    .main .clients{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        overflow: hidden;
        padding: 0 5vw;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }
    .clients img{
        width: 95%;
    }
}